
html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: #EEEEFF;
}

body, html {
    height: 100%;
    margin: 0;
    margin-bottom: 100px;
}

#homepage {
    /* background: url(../images/francis-bouffard-fRubchzIX_A-unsplash.jpg); */
    /* Image source: https://unsplash.com/photos/fRubchzIX_A */
    background: url(../images/pexels-anni-roenkae-2868948-2.jpg);
    /* background-color: #0B0C10; */
    /* background-position: center; */
    background-size: cover;
    height: 100%;
}

#aboutpage, #contactpage, #workspage {
    /*background-color: #0B0C10; */
    background-color: #3A405A; 
    /* background-color: #254E70; */
    /* background-color: #0A122A; */
    /* background-color: #020827; */
}

.nav_links{
	display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-decoration: none; 
    font-weight: bold;
    top: 300px;
    width: 100%;

}

p {
    margin: 20px;
}

nav {
    /* background-color: rgba(27, 35, 43, 0.658); */
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    /* background-color: #A1869E; */
    /* background-color: #007EA7; */
    /* background-color: #03114F; */
    /* background-color: #467599; */
    /* background-color: #EDA2C0; */
    /* background-color: #9A1D4F; */
    background-color: #A1869E;
    position: absolute;
    z-index: 300;
}

/* .navcontainer {
    display: none;
    height: 0px;
    top: 0;
    transition: 3s;
} */

/*hamburger menu stuff */

/* #hamburger {
    top: 0;
    right: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    left: 0;
    background-color: #DFFDFF;
    color: black;
    border: none;
    font-size: xx-large;
    text-shadow: none;

    
} */

/* following animation code is from https://w3bits.com/animated-menu-icon-css/ modified to fit project*/

#hamburger {
    width: 40px;
    position: absolute;
    top: 0;
    margin-left: 3px;
    margin-top: 1px;
    cursor: pointer;
    z-index: 301;
}
  
#hamburger:after, #hamburger:before, #hamburger div {
    /* background-color: #3A405A; */
    /* background-color: #C7E8F3; */
    background-color: #3A405A;
    border-radius: 6px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
    animation-play-state: paused; 
    animation-fill-mode:backwards;
}

/* #hamburger:active:before {
    transform: translateY(12px) rotate(135deg);
    animation-fill-mode: forwards;
    animation-play-state: running;
}
  
#hamburger:active:after {
    transform: translateY(-12px) rotate(-135deg);
    animation-fill-mode: forwards;
    animation-play-state: running;
}
  
#hamburger:active div {
    transform: scale(0);
    animation-fill-mode: forwards;
    animation-play-state: paused;
} */

#hamburger.open::before {
    transform: translateY(12px) rotate(135deg);
    animation-fill-mode: forwards;
    animation-play-state: running;
}

#hamburger.open::after {
    transform: translateY(-12px) rotate(-135deg);
    animation-fill-mode: forwards;
    animation-play-state: running;
}

#hamburger.open div {
    transform: scale(0);
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.topbar {
    /* background-color: #DFFDFF; */
    height: 50px;
    background-color: #A1869E; 
    /* background-color: #8E6C88; */
    z-index: 302;
}

.nav_links a {
    text-decoration: none; 
    color: white;
    text-shadow: 
    -1px -1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    1px 1px 0 #000;
}

#homepage .nav_links #home a {
    font-weight: bold;
    font-size:50px;
    /* text-decoration:underline; */
    /* color: #0b9ff5; */
    color: #0B9FF5;
}

#aboutpage .nav_links #about a {
    font-weight: bold;
    font-size:50px;
    /* text-decoration:underline; */
    color: #0B9FF5;
}

#contactpage .nav_links #contact a {
    font-weight: bold;
    font-size:50px;
    /* text-decoration:underline; */
    /* color: #0b9ff5; */
    color: #0B9FF5;
}

#workspage .nav_links #works a {
    font-weight: bold;
    font-size:50px;
    /* text-decoration:underline; */
    color: #0B9FF5;
}

.skip a{
    background: white;
    left: 0;
    padding: 7px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -50px;
}
.skip a:focus {
    position: absolute;
    top: -10px;
}

h1{
    font-size: 60px;
    margin: 20px;
    text-align: center;
    font-weight: lighter;
    /* color: #C2948A; */
    color: #0B9FF5;
}

#homepage h1 {
    color: white;
    text-shadow: 
    -1px -1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    1px 1px 0 #000;
    top: 50px;
}

#selfportrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#headshot {
    display: block;
    width: 40%;
    height: auto;
    max-width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

footer {
    bottom: 0;
    margin-top: -50;
    width: 100%;
    overflow: hidden;
    text-shadow: 
    -1px -1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    1px 1px 0 #000;

}

#homepage footer {
    position: fixed;
}

body {
    font-family: "Nanum Gothic", sans-serif;
}

#homepage h2 {
    font-weight: lighter;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.5;
    /*color: #0b9ff5; */
    color: white;
    text-shadow: 
    -1px -1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    1px 1px 0 #000;
}

h2 {
    font-weight: lighter;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.5;
    color: white;
}

#contactme {
    text-align: center;
    color: #0b9ff5;
    grid-area: contact;
}

#casualphoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 15vw;
    height: auto;
    max-height: 40vh;
    position: relative;
}

#question {
    position: relative;
    grid-area: question;
}

.container {
    display: grid;
    grid-template-columns: repeat(1, 80vw);
    justify-content: center;
    grid-gap: 5px;
    position: relative;
}

.grid-image img:hover {
    opacity: 55%;
}

.grid-image img {
    display: block;
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    min-width: 100%;
    max-height: 100%;
    cursor: pointer;
    position: relative;
    grid-area: photo;
}

/* Contact Form */

input[type=text], select, textarea {
    width: 50%;
    padding: 10px;
    border-radius: 4px;
    margin: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    display: inline-block;

}

#message {
    width: 80%;
    padding: 10px;
    border-radius: 4px;
    margin: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#email {
    width: 80%;
    padding: 10px;
    border-radius: 4px;
    margin: 5px;
    box-sizing: border-box;
    resize: vertical;
    margin-bottom: 10px;
}

#photo-caption {
    justify-content: center;
    display: grid;
    grid-template-columns: 15vw 15vw;
    width: 80%;

    grid-template-areas: 'photo question'
                         'photo question'
                         'contact contact';
}



/*end contact form */

nav.slideopen {
    top: 0px;
}

nav.slideclosed {
    top: -300px;
}

/* .navigation:active {
    /* translate: margin-top 5s;
    transition: all 350ms $easing; 
} */

/* @keyframes slideout {
    0% {
        top: 0;
    }
    100% {
        top: 300px;
    }
} */

@media only screen and (max-width: 768px) {
    /* For mobile: */
    .nav_links {
        align-items: center;
        height: 300px;
        font-size: 30px;
        justify-content: space-around;
        
    }

    nav {
        height: 300px;
        top: -300px;
        transition: 0.3s;

    }
    
  }


  @media only screen and (min-width: 768px) {
    /* For tablet: */
    #hamburger {
        display: none;
    }

    .nav_item {
        display: block;
    }

    .nav_links {
        flex-direction: row;
        font-size: x-large;
    }

    nav {
        margin-top: 20px;
        margin-bottom: 50px;
        position: relative;
        background: none;
    }

    .navcontainer {
        display: block;
    }

    .container {
        grid-template-columns: repeat(2, 40vw);
        grid-template-rows: 50vh 50vh 50vh 50vh 50vh;
    }

    #homepage .nav_links #home a {
        font-size: xx-large;
        text-transform: uppercase;
    }
    
    #aboutpage .nav_links #about a {
        font-size: xx-large;
        text-transform: uppercase;
    }
    
    #contactpage .nav_links #contact a {
        font-size: xx-large;
        text-transform: uppercase;
    }
    
    #workspage .nav_links #works a {
        font-size: xx-large;
        text-transform: uppercase;
    }


    .topbar {
        display: none;
    }

    #casualphoto {
        max-width: 30vw;
        max-height: 70vh;
    }

    .nav_item a:hover {
        /* color: #C2948A; */
        /* color: #03F7EB; */
        text-decoration: underline;
        color: #0B9FF5;
    }
    
  }

  @media only screen and (min-width: 1200px) {
      /*For desktop: */
    nav {
        position: fixed;
        top: 50px;
        overflow-x: hidden; /* Disable horizontal scroll */
        min-width: 0;
        flex: auto;
        height: 300px;
        background: none;
        display: block;
        
    }

    #aboutpage main, #contactpage main, #workspage main {
        padding: 0px;
        margin-left: 10%;
    }

    #aboutpage nav, #contactpage nav, #workspage nav {
        width: 10%;
        height:fit-content;
    }

    #aboutpage footer, #contactpage footer, #workspage footer {
        margin-left: 10%;
        height:fit-content;
    }

    .nav_links{
        margin-left: 20px;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        text-decoration: none;   
        align-items: flex-start;
        font-size: large;
    
    }

    .navcontainer {
        display: block;
        height: 300px;
    }

    #homepage main {
        top: 50px;
    }

    #workspage .container {
        margin-left: auto;
    }

    .main {
        margin-left: 160px; /* Same as the width of the sidebar */
        padding: 0px 10px;
      }

      #hamburger {
        display: none;
    }

    .container {
        grid-template-columns: repeat(3, 30vw);
        grid-template-rows: 30vw 30vw 30vw;
    }

    .topbar {
        display: none;
    }

    #casualphoto {
        max-width: 30vw;
        max-height: 70vh;
    }

    .nav_item a:hover {
        /* color: #C2948A; */
        /* color: #03F7EB; */
        text-decoration: underline;
        color: #0B9FF5;
    }
  }